/*----------------------------------------*/
/*  Product Selection
/*----------------------------------------*/

.product-selection {
  padding: 90px 0px 120px 0px;
  text-align: center;
  .container {
    padding: 0;
    max-width: 640px;
    h2 {
      font-size: 45px;
      color: #202120;
      font-weight: 600;
      margin-bottom: 70px;
    }
    ._product {
      margin-bottom: 30px;
      &:last-of-type {
        margin-bottom: 0px;
      }
      input {
        display: none;
      }
      label {
        img {
          cursor: pointer;
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .product-selection {
    padding: 90px 0px 70px 0px;
    .container {
      padding: 0px 25px;
      h2 {
        font-size: 34px;
        margin-bottom: 35px;
      }
      ._product {
        margin-bottom: 15px;
        &:last-of-type {
          margin-bottom: 0px;
        }
      }
    }
  }
}
