/*----------------------------------------*/
/*  1.  Banner 
/*----------------------------------------*/

.order-elite {
  background-image: url(../../../images/order-banner-bg.png);
  padding: 137px 0px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  .container {
    max-width: 1211px;
    padding: 0;
    .row {
      .elite-909-satisfaction {
        margin-bottom: 60px;
        h1 {
          font-size: 60px;
          color: rgb(12, 12, 12);
          font-style: italic;
          padding: 0;
          margin: 0;
          br {
            display: none;
          }
        }
        h4 {
          font-size: 32px;
          color: rgb(66, 66, 66);
          line-height: 1.2;
        }
      }
      .elite-909-experience {
        h3 {
          font-size: 37.333px;
          color: rgb(8, 8, 8);
          font-weight: 500;
          line-height: 1.2;
          span {
            text-transform: uppercase;
            font-weight: 700;
            &:first-of-type {
              color: rgb(8, 8, 8);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1340px) {
  .order-elite {
    background-position: center center;
    .container {
      padding: 0 25px;
    }
  }
}

@media (max-width: 1200px) {
  .order-elite {
    .container {
      padding: 0 25px;
    }
  }
}

@media (max-width: 991px) {
  .order-elite {
    background-image: url(../../../images/order-banner-bg-tabb.png);
    padding: 387px 0px 60px 0px;
    .container {
      .row {
        .elite-909-satisfaction {
          margin-bottom: 50px;
          h1 {
            font-size: 56px;
            line-height: 1em;
            padding: 0;
            margin: 0 0 10px 0px;
            br {
              display: block;
            }
          }
          h4 {
            font-size: 18px;
          }
        }
        .elite-909-experience {
          h3 {
            font-size: 21px;
          }
        }
      }
    }
  }
}

@media (max-width: 414px) {
  .order-elite {
    background-image: url(../../../images/order-banner-bg-mob.png);
  }
}
