/*----------------------------------------*/
/*  Elite 90 Supplement 
/*----------------------------------------*/

.what-elite-909-do {
  background-image: url(../../../images/elite-909-supplement.png);
  height: 1052px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  .container {
    padding: 125px 0px 100px 0px;
    text-align: center;
    max-width: 1211px;
    h3 {
      font-size: 45px;
      color: white;
      font-weight: 600;
      .tech {
        display: none;
      }
    }
    .row {
      padding: 120px 0px;
      .col-lg-6 {
        color: white;
        &:first-of-type {
          text-align: left;
        }
        ul {
          list-style: none;
          padding: 0;
          li {
            font-size: 24px;
            color: white;
            position: relative;
            padding-left: 80px;
            margin-bottom: 50px;
            &::before {
              content: "";
              position: absolute;
              background-image: url("../../../images/check-sign-gold.png");
              background-repeat: no-repeat;
              width: 64px;
              height: 64px;
              left: 0;
              top: -5px;
            }
          }
        }
        &:last-child {
          text-align: right;
          ul {
            li {
              padding: 0px 90px 0px 0px;
              &::before {
                display: none;
              }
              &::after {
                content: "";
                position: absolute;
                background-image: url("../../../images/check-sign-gold.png");
                background-repeat: no-repeat;
                width: 64px;
                height: 64px;
                right: 0;
                top: -5px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1340px) {
  .what-elite-909-do {
    background-image: url(../../../images/elite-909-supplement-bg.png);
    height: fit-content;
    .container {
      padding: 125px 25px 100px 25px;
      .row {
        .col-lg-6 {
          &:last-child {
            text-align: left;
            ul {
              margin-top: 0;
              li {
                padding: 0px 0px 0px 80px;
                &::before {
                  display: block;
                }
                &::after {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .what-elite-909-do {
    .container {
      .product-image {
        margin-top: 75px;
      }
      .row {
        padding: 70px 0px;
      }
    }
  }
}

@media (max-width: 768px) {
  .what-elite-909-do {
    .container {
      padding: 80px 25px 80px 25px;
      h3 {
        font-size: 34px;
        .tech {
          display: block;
          display: unset;
          color: white;
        }
      }
      .row {
        padding: 50px 0px 30px 0px;
        .col-lg-6 {
          ul {
            li {
              font-size: 21px;
            }
          }
        }
      }
    }
  }
}
