/*----------------------------------------*/
/* 6 Complete Order 
/*----------------------------------------*/

.complete-order {
  padding: 90px 0px 115px 0px;
  .container {
    padding: 0;
    width: 1211px;
    text-align: center;
    h2 {
      font-size: 40px;
      line-height: 1.5;
      font-weight: 600;
      span {
        color: #af221a;
      }
    }
    form {
      margin: 60px 0px 50px 0px;
      .form-group {
        display: block;
        margin-bottom: 15px;
        padding: 28px 0px;
        width: 100%;
        border: 1px solid rgb(172, 172, 172);
        input {
          padding: 0;
          height: initial;
          width: initial;
          margin-bottom: 0;
          display: none;
          cursor: pointer;
        }
        label {
          position: relative;
          cursor: pointer;
          font-size: 21px;
          font-weight: 600;
          color: rgb(27, 27, 27);
          span {
            color: #d40b11;
          }
          &::before {
            content: "";
            -webkit-appearance: none;
            background-color: transparent;
            background: rgb(57, 181, 74);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
            width: 36px;
            height: 36px;
            display: inline-block;
            position: relative;
            vertical-align: middle;
            cursor: pointer;
            margin-right: 35px;
          }
        }
      }
      .form-group input:checked + label:after {
        position: absolute;
        top: 0px;
        left: 2px;
        color: white;
        content: "\f00c";
        font-weight: 900;
        font-size: 32px;
        font-family: "Font Awesome 5 Free";
      }
      button {
        border: none;
        outline: none;
        background: transparent;
        margin: 30px 0px 15px 0px;
        cursor: pointer;
      }
      .error {
        p {
          margin-top: 0px;
          font-size: 24px;
          color: rgb(33, 33, 32);
          font-style: italic;
          line-height: 1.333;
        }
      }
    }
    .confirmation {
      h2 {
        line-height: 1.2;
        span {
          color: rgb(27, 27, 27);
          span {
            color: #af221a;
          }
        }
      }
      p {
        font-size: 20.8px;
        margin: 15px 0px 0px;
        color: rgb(42, 42, 42);
        font-weight: 300;
        line-height: 1.5;
        text-align: left;
      }
    }
  }
}

@media (max-width: 1340px) {
  .complete-order {
    .container {
      padding: 0px 25px;
    }
  }
}
