/*----------------------------------------*/
/*  5.  Experience
/*----------------------------------------*/
.experience {
  background-image: url(../../../images/yellow-bg-2.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  font-size: 24px;
  line-height: 1.4;
  color: #262626;
  padding: 85px 0px;
}

.experience .container {
  padding: 0;
  max-width: 1211px;
}

.experience .container p {
  margin: 0;
  font-size: 32px;
  color: #232323;
  font-weight: 600;
}

.experience .container h2 {
  font-size: 60px;
  color: #232323;
}

/*----------------------------------------*/
/*  5.  Results to Extream
/*----------------------------------------*/
.results-to-extream {
  background-image: url(../../../images/extream-bg.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0px 129px 0px;
}

.results-to-extream .container {
  padding: 0;
  max-width: 1211px;
}

.results-to-extream .container .row h3 {
  font-size: 45px;
  color: white;
}

.results-to-extream .container .row p {
  font-size: 24px;
  color: white;
  line-height: 1.667;
}

.results-to-extream .container .row .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.results-to-extream .container .row .row p {
  font-size: 20px;
  color: #e6e6e6;
  font-weight: bold;
}

.results-to-extream .container .row .row p span {
  color: #db0a1c;
}

.results-to-extream .container .row ._red {
  padding: 54px 0px 0px;
}

.results-to-extream .container .row ._red .col-lg-5 {
  text-align: right;
}

.results-to-extream .container .row ._red .col-lg-5 img {
  width: 476px;
  margin-right: -70px;
}

.results-to-extream .container .row ._blue {
  padding: 0px 0px 98px 0px;
}

.results-to-extream .container .row ._blue .col-lg-5 {
  text-align: left;
}

.results-to-extream .container .row ._blue .col-lg-5 img {
  width: 476px;
  margin-left: -30px;
}

.results-to-extream .container .row ._blue p {
  text-align: right;
  margin-right: -40px;
}

.results-to-extream .container .row ._blue p span {
  color: #00bff1;
}

/*----------------------------------------*/
/*  5.  Best Results Possible
/*----------------------------------------*/
.best-results-possible {
  padding: 100px 0px 80px 0px;
  position: relative;
  background: #ececec;
}

.best-results-possible .container {
  padding: 0px;
  max-width: 1356px;
  position: relative;
  left: 70px;
}

.best-results-possible .container .content-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.best-results-possible .container .content-image ._content {
  max-width: 690px;
}

.best-results-possible .container .content-image ._content h3 {
  font-size: 45px;
  color: #2b2b2b;
}

.best-results-possible .container .content-image ._content p {
  font-size: 24px;
  color: #434343;
  line-height: 1.444;
}

.best-results-possible .container .content-image ._image {
  margin-right: 0;
  margin-left: auto;
}

.best-results-possible .container .content-image ._image img {
  width: 599px;
}
/*# sourceMappingURL=experience.css.map */